html {
  scroll-behavior: smooth;
}

main {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
  padding-top: 80px;
}
aside a.top {
  font-size: 1em;
  position: fixed;
  bottom: 0;
  right: 0;
  font-weight: bold;
  width: 50px;
  padding: 0.6em 0;
  margin-bottom: 0;
  border-radius: 0.3em 0 0;
  transition: all 0.3s ease;
}

small {
  color: #7a7a7a;
}
img {
  width: auto;
  height: auto;
}
td {
  padding: 1rem 0.5rem;
}

.mt-0 {
  margin-top: 0 !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.pb-0 {
  padding-bottom: 0 !important;
}

.text-center {
  text-align: center !important;
}

.hidden {
  display: none !important;
}

.links {
  text-align: center;
}

[class^="color-"] {
  font-weight: bold;
}
.color-brown {
  color: #623b29;
}
.color-grey {
  color: #494948;
}
.color-blue {
  color: #25418f;
}
.color-yellow {
  color: #f28d1b;
}
.color-green {
  color: #008743;
}
.color-red {
  color: #d2222a;
}
.color-purple {
  color: #571966;
}
.color-black {
  color: #000000;
}

/**
 * Accordion
 */
.accordion {
  padding: 0.5rem 1rem;
  width: 100%;
  text-align: left;
}

/*.active,
.accordion:hover {
  background-color: #ccc;
}*/

.panel {
  padding: 0 1rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
